body{
    background-color: black;
    padding: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.Contener{
    max-width: 1000px;
    margin: auto;
}
.TopBar{
    color:white;
    background-color: rgb(67, 142, 185);
    padding: 8px;
    font-size: 24px;
    text-align: center;
}
section{
    padding: 20px;
    background-image: url('./images/people.jpg');
    background-size: cover;
    overflow: hidden;
}
.fromContener{
    max-width: 230px;
    padding: 20px;
    background-color: #FFFFFFBB;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    background-color: rgb(67, 142, 185);
    color: white;
    font-weight: bold;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('./images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
    background-color: #202121;
    text-align: center;
    padding: 40px;
}
#foter{
    width: 160px;
   
}
#descrição{
    text-align: left;
    color:white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
}
#descrição p, #descrição h3{
    margin-bottom: 20px;
}
#descrição h3{
    font-size: 24px;
}
